*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
body{
    font-family: "Poppins", sans-serif;
    background: radial-gradient(#fff, #f0c440);
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color:#555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 70%;
    padding: 10px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}

.head{
    background: radial-gradient(#fff, #f0c440);
    border-bottom: 7px dashed rgb(52, 102, 211);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 2s;
}
.col-4 img{
    margin-top: 20%;
    width: 100%;
}
.title{
    text-align: center;
    margin: 0;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content:'';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ff523b ;
}
.col-4:hover{
    transform: translateY(10px);
}
/*------------offer---------*/
.offer{
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer img{
    padding: 50px;
}
small {
    color: #555;
}
/*------------Testimonials---------*/
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    background: radial-gradient(#fff, #ffd6d6);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    transition: transform .2s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 24px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #000;
    font-size: small;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
/*------------Brands---------*/
.brands{
    margin: 100px auto;
}
.col-5{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.col-5 img{
    width: 30%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0%);
}
.row1{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*------------Footer---------*/
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;

}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
}
.footer-col-2 img{
    width: 30%;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px;
}
.copyright{
    text-align: center;
}

.menu-icon{
    display: none;
    width: 28px;
    margin-left: 20px;
}
/*------------all products page---------*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}

select{
    border: 1px solid #ff523b;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}

.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus{
    outline: none;
}
.single-product .fa{
    color: #ff523b;
    margin-left: 10px;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/* cart items details */

.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap:wrap ;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 100px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 370px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

/* account-page */
.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff, #f0c440);
}

.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top:130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}

#LoginForm{
    left: -300px;
}
#RedForm{
    left: 0;
}
form a{
    font-size: 12px;
}
textarea{
    outline: none;
    resize: none;
    border: 1px solid #ccc;
}
#Indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top:8px ;
    transform: translateX(100px);
    transition: transform 1s;
}
#Indi{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top:8px ;
}
.search{
    padding-top: 50px;
    padding-left: 50px;
    margin-bottom: 40px;
    border-top: 1px solid grey;
}
/* supplier-product-categories */
.search input{
    width: 70%;
    outline: none;
    font-size: large;
    padding: 10px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #f0e489;
    color: #000000;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}
.search input:placeholder{
    color: #000000;
}
.search span{
    background: #000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 9px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
    color: #fff;
}
.categories1 .col1{
    padding: 40px;
    padding-left: 90px;
    border-bottom: 1px solid grey;
}
.categories-container .coltop{
    padding: 50px;
    border: none;
    border-top: 1px solid grey;
    font-size: 30px;
    font-size: larger;
    font-style: oblique;
    color: #000;
    text-align: center;
}
/* <!--------supplier-categories-select---------> */
.coltop{
    display: flex;
    border: 1px solid grey;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

.coltop h6{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 100px;
    text-align: left;
    background: #000;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
    transition: 1s;
}
.coltop a{
    width: 20%;
}
.coltop p{
    width: 70%;
    text-align: center;
}
.coltop h6:hover{
    transform: translateY(2px);
    background: #ff523b;
    color: #000;
}
.select{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.select .col2{
    padding: 40px;
}
.select .col2 img{
    height: auto;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);

}
.col2 h3,p{
    padding-bottom: 5px;
    padding-top: 10px;
}
.pending{
    padding: 10px;
    color: #000;
    width: 150px;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    background: #e0d316;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}
.approved{
    color: #fff;
    width: 150px;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    background: #4fdc33;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}

/* supplier-add-product- */
.add-top{
    width: 100%;
    border: 1px solid grey;
    padding: 20px;
}
.profile-image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 90%;
    border: 2px solid red;
    background: #fff;
    border-radius: 60%;
    width: 30px;
}
.username{
    display: flex;
    width: 100%;
    margin-right: 90%;
}
.username .close{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    margin-left: 70%;
    width: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
    color: #fff;
    transition: 1s;
}
.profile-image img{
    width: 100%;
    border-radius: 50%;
}
.add-product{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.add-product a:hover{
    transform: translatey(2px);
    background: #000;
}
.add-product a{
    background: #ff523b;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}
.add-product p{
    font-weight: 400;
    color: #fff;
}
.add-illustration{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    text-align: center;
    height: 60vh;
}
.add-illustration .opa{
    opacity: 20%;
}
.opa{
    width: 100%;
}
.opa img{
    width: 70%;
}
.t{
    color: grey;
}
.close h6{
    font-size: small;
    padding: 10px;
}


/* supplier-new-product-form */
.cat-body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.categories2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px;
    width: 70%;
    align-items: center;
}

.col3{
    margin-bottom: 30px;
    width: 90%;
}
.col3 input{
    outline: none;
    width: 85%;
    border: none;
    padding: 10px;
    color: #000;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}
.col3 input::placeholder{
    color: #7e7c7c;
}
.col3 select{
    outline: none;
    border: none;
    color: #000;
    padding: 10px;
    width: 85%;
}
.col3 span{
    background: #efed84;
    padding: 9px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.col3 textarea{
    width: 85%;
    height: 200px;
    outline: none;
    border: none;
    padding: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}
.add-size{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add-color{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.switch {
  position: relative;display: inline-block;width: 50px;height: 20px;}
.switch input { opacity: 0;width: 0;height: 0;}.slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s;}

.slider:before {position: absolute;content: "";height: 16px;width: 16px;left: 4px;bottom: 4px;background-color: white;-webkit-transition: .4s;transition: .4s;
}
input:checked + .slider {background-color: #2196F3;}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);}
.slider.round:before {border-radius: 50%;}
.slider.round {border-radius: 34px;}
#myFile{
    background: #fff;
}
/* ----supppliers-product-detail---- */
.select-categories4{
    width: 100%;
}
.col4{
    padding: 0;
}
.coltop4{
    display: flex;
    align-items: center;
    border: 1px solid grey;
    padding: 10px;
}
.coltop4 p{
    text-align:center;
    width: 90%;
}
.coltop4 a{
    text-align: left;
    width: 50%;
}
.col4 img{
    margin: 50px;
    height: auto;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);

}
.col4-small img{
    height: auto;
    width: 40px;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);

}

.select3 .col4-small{
    margin-left: 40px;
}
.details{
    margin-left: 40px;
}

/* admin-dashboard */
.admin-container{
    display: block;
    height: 100vh;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000;
    width: 100%;
    height: 10%;
    padding: 20px;
}
.top p{
    color: #fff;
}
.nav-bar{
    width: 20%;
    height: 100%;
    position: fixed;
    top: 67px;
    left: 0px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid red;
    background: lightgray;
}
.nav-bar a{
    text-decoration: none;
    color: black;
    display: block;
}
.nav-bar > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-bar > ul > li > a{
    padding: 10px;
    background: lightgray;
}
.nav-bar .active{
    background: #563434;
    color: #e0d316;
}
.nav-bar ul > li > a:hover{
    background: #4fdc33;
    color:#2196F3;
}

.nav-bar li{
    border-bottom: 1px solid #333;
}

.nav-bar li:last-child{
    border: none;
}
.detail-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 20%;
    width: 80%;
    padding: 15px;
}
.total-profit{
    margin-right: 10px;
    width: 35%;
    height: 200px;
    padding: 40px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
    margin-bottom: 10px;
}
.monthly-report{
    width: 60%;
    height: 300px;
    padding: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}
.top-selling-Product{
    width: 50%;
    height: 400px;
    padding: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
    margin-top: 10px;
    margin-bottom: 10px;
}
.topselling{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;

}
.edit-delete a{
    padding: 10px;
    border: 1px solid grey;
    margin-right: 10px;
}
.best-supplier{
    width: 45%;
    height: 350px;
    padding: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
    margin-left: 10px;
    margin-top: 20px;
}
.admin-page-btn{
    top: 119%;
    left: 30%;
    position: absolute;
}
.admin-user-nxt-btn{
    top: 95%;
    position: absolute;
}

.firstrow{
    display: flex;
    color: #fff;
    margin-bottom: 60px;
}
.firstrow p{
    font-size: 10px;
    padding: 10px;
    border-bottom: 1px solid red;
    width: 100px;
    margin-right: 5%;
}
.firstro P{
    padding: 20px;
}

.toprow h1{
    margin-bottom: 20px;
}





/*------------media query for menu for Screen less than 800px---------*/
@media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 1s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .col-2 h1{
        font-size: 40px;
    }
    .footer-col-1{
    display: block;
    
    }
    .app-logo{
        display: flex;
        align-items: center;
    }
    .app-logo img{
        padding: 10px;
    }
    .row-2{
        margin: 20px;
    }
    .row-2 h2{
        margin-bottom: 20px;
    }
}
@media only screen and (max-width:600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
    }
}





